<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/384f58f878.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="nav-menu">
            <div class="display-horizontal mobile-menu-bar">
                @*MENU MOBILE BAR ICON*@
                <i class="fa-solid fa-bars mobile small-icon color-orange c-pointer" id="open-mobile-nav-links"></i>
                @*MENU MOBILE BAR ICON*@
                <div class="display-horizontal">
                    <a href="">
                        <div class="color-white">
                            Logo
                        </div>
                    </a>
                    <a href="">
                        <h3 class="menu-bar-title color-white">
                            &nbsp;20E5Cars
                        </h3>
                    </a>
                </div>
                @*LOGIN/REGISTER ICON*@
                <a href="" class="mobile transparent-button"><i class="fa-solid fa-user-group small-icon color-white"></i></a>
                @*LOGIN/REGISTER ICON*@
            </div>
            <div class="mobile-nav-links-bg theme-transition" id="mobile-nav-links-background">
                <div class="cross-button-navlinks-bar">
                    @*CLOSE MOBILE MENU ICON (CROSS)*@
                    <i class="fa-solid fa-xmark mobile small-icon color-orange c-pointer" id="close-mobile-nav-links"></i>
                    @*CLOSE MOBILE MENU ICON (CROSS)*@
                </div>
                <ul class="mobile-nav-links">
                    <li class="mobile-nav-links-size nav-links-border">
                        <a href="">Główna</a>
                    </li>
                    <li class="mobile-nav-links-size nav-links-border">
                        <a href="">Szukaj</a>
                    </li>
                    <li class="mobile-nav-links-size display-horizontal nav-links-border" id="cars-nav-link">
                        Auta
                        <i class="fa-solid fa-angle-down theme-transition" id="cars-nav-link-arrow"></i>
                    </li>
                    <li>
                        <ul class="hidden theme-transition" id="hidden-links-car">
                            <li class="mobile-nav-links-size nav-links-border">Wybierz markę</li>
                            <li class="mobile-nav-links-size nav-links-border">Wybierz typ</li>
                            <li class="mobile-nav-links-size nav-links-border">Wszystkie</li>
                        </ul>
                    </li>
                    <li class="mobile-nav-links-size display-horizontal nav-links-border" id="more-nav-link">
                        Więcej
                        <i class="fa-solid fa-angle-down theme-transition" id="more-nav-link-arrow"></i>
                    </li>
                    <li>
                        <ul class="hidden theme-transition" id="hidden-links-more">
                            <li class="mobile-nav-links-size nav-links-border">Nasz zespół</li>
                            <li class="mobile-nav-links-size nav-links-border">Nasza misja</li>
                        </ul>
                    </li>
                    <li class="mobile-nav-links-size nav-links-border"><a href="">Kontakt</a></li>
                </ul>
                <p class="mobile mobile-nav-links-size text-center">
                    <i class="fa-solid fa-phone color-orange"></i>
                    <span>+48</span>
                    123&nbsp;456&nbsp;789
                </p>
                <p class="mobile mobile-nav-links-size text-center">
                    <i class="fa-solid fa-at color-orange font-weight-bold"></i>
                    Adres Email
                </p>
                <ul>
                    <li>
                        <a href="" class="desktop"><i class="fa-solid fa-user"></i>&nbsp;Zaloguj się</a>
                    </li>
                    <li>
                        <a href="" class="desktop"><i class="fa-solid fa-user-plus"></i>&nbsp;Zarejestruj się</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container" id="page-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="color-Theme-Dark-Blue text-center">
        <a href="">
            <div class="p-2">
                Logo
            </div>
        </a>
        <a href="">
            <h3 class="color-white">20E5Cars</h3>
        </a>
        <div class="w-auto">
            <p class="mobile text-justify wrap-text">
                Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
                Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
            </p>
        </div>
        <p>
            <i class="fa-solid fa-phone color-orange"></i>
            (+48)&nbsp;123&nbsp;456&nbsp;789
        </p>
        <p>
            <i class="fa-solid fa-at color-orange"></i>
            Adres Email
        </p>
        <p>ul. Powstańców Wielkopolskich 6/3</p>
        <p>60-001&nbsp;Poznań</p>
        <ul class="text-left container mobile" id="menu-footer">
            <li class="nav-links-border">
                <a href="" class="color-white">Główna</a>
            </li>
            <li class="nav-links-border">
                <a href="" class="color-white">Szukaj</a>
            </li>
            <li class="nav-links-border">
                <a href="" class="color-white">Auta</a>
            </li>
            <li class="nav-links-border">
                <a href="" class="color-white">Nasz zespół</a>
            </li>
            <li class="nav-links-border">
                <a href="" class="color-white">O nas</a>
            </li>
            <li class="nav-links-border">
                <a href="" class="color-white">Kontakt</a>
            </li>
        </ul>
        <p>2035Cars - Wszelkie prawa zastrzeżone -<a href="" class="font-weight-bold color-orange"> Polityka prywatności</a></p>
        @*SOCIAL ICONS*@
        <div>
            <a href="https://www.facebook.com/" class="mobile-nav-links-size nav-links-border social-icons-size">
                <i class="fa-brands fa-facebook-square"></i>
            </a>
            <a href="https://www.youtube.com/" class="mobile-nav-links-size nav-links-border social-icons-size">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/" class="mobile-nav-links-size nav-links-border social-icons-size">
                <i class="fa-brands fa-instagram-square"></i>
            </a>
        </div>
    </footer>
    <script src="~/js/Nav.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
