<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/384f58f878.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="nav-menu">
            <div class="display-horizontal mobile-menu-bar">
                @*MENU MOBILE BAR ICON*@
                <i class="fa-solid fa-bars mobile small-icon color-orange c-pointer" id="open-mobile-nav-links"></i>
                @*MENU MOBILE BAR ICON*@
                <div class="display-horizontal">
                    <a href="">
                        <div class="color-white">
                            Logo
                        </div>
                    </a>
                    <a href="">
                        <h3 class="menu-bar-title color-white">
                            &nbsp;20E5Cars
                        </h3>
                    </a>
                </div>
                @*LOGIN/REGISTER ICON*@
                <a href="" class="mobile transparent-button"><i class="fa-solid fa-user-group small-icon color-white"></i></a>
                @*LOGIN/REGISTER ICON*@
            </div>
            <div class="mobile-nav-links-bg theme-transition" id="mobile-nav-links-background">
                <div class="cross-button-navlinks-bar">
                    @*CLOSE MOBILE MENU ICON (CROSS)*@
                    <i class="fa-solid fa-xmark mobile small-icon color-orange c-pointer" id="close-mobile-nav-links"></i>
                    @*CLOSE MOBILE MENU ICON (CROSS)*@
                </div>
                <ul class="mobile-nav-links">
                    <li class="mobile-nav-links-size nav-links-border">
                        <a href="">Główna</a>
                    </li>
                    <li class="mobile-nav-links-size nav-links-border">
                        <a href="">Szukaj</a>
                    </li>
                    <li class="mobile-nav-links-size display-horizontal nav-links-border" id="cars-nav-link">
                            Auta
                        <i class="fa-solid fa-angle-down theme-transition" id="cars-nav-link-arrow">
                        </i>
                        <ul class="hidden" id="hidden-links-car">
                            <li>Wybierz markę</li>
                            <li>Wybierz typ</li>
                            <li>Wszystkie</li>
                        </ul>
                    </li>
                    <li class="mobile-nav-links-size display-horizontal nav-links-border" id="more-nav-link">
                            Więcej
                            <i class="fa-solid fa-angle-down theme-transition" id="more-nav-link-arrow">
                            </i>
                        <ul class="hidden" id="hidden-links-more">
                            <li>Nasz zespół</li>
                            <li>Nasza misja</li>
                        </ul>
                    </li>
                    <li class="mobile-nav-links-size nav-links-border"><a href="">Kontakt</a></li>
                </ul>
                <p class="mobile mobile-nav-links-size text-center">
                    <i class="fa-solid fa-phone color-orange"></i>
                    <span>+48</span>
                    123&nbsp;456&nbsp;789
                </p>
                <p class="mobile mobile-nav-links-size text-center">
                    <i class="fa-solid fa-at color-orange font-weight-bold"></i>
                    Adres Email
                </p>
                <ul>
                    <li>
                        <a href="" class="desktop"><i class="fa-solid fa-user"></i>&nbsp;Zaloguj się</a>
                    </li>
                    <li>
                        <a href="" class="desktop"><i class="fa-solid fa-user-plus"></i>&nbsp;Zarejestruj się</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container" id="page-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <a href="">
            <div>
                Logo
            </div>
        </a>
        <a href=""><h3>20E5Cars</h3></a>
        <ul>
            <li>
                <a href="">Główna</a>
            </li>
            <li>
                <a href="">Szukaj</a>
            </li>
            <li>
                <a href="">Auta&nbsp;<i class="fa-solid fa-angle-down"></i></a>
            </li>
            <li>
                <a href="">Więcej&nbsp;<i class="fa-solid fa-angle-down"></i></a>
            </li>
            <li>
                <a href="">Kontakt</a>
            </li>
            <li>
                <a href=""><i class="fa-solid fa-user"></i>&nbsp;Zaloguj się</a>
            </li>
            <li>
                <a href=""><i class="fa-solid fa-user-plus"></i>&nbsp;Zarejestruj się</a>
            </li>
        </ul>
        <p>
            TekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekst
            TekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekst
        </p>
        <p>
            <i class="fa-solid fa-phone"></i>
            <span>+48</span>
            123456789
        </p>
        <p>
            <i class="fa-solid fa-at"></i>
            Adres Email
        </p>
        <p>Ulica</p>
        <p>Miasto</p>
        <div>Belka</div>
        <p>2035Cars - Wszelkie prawa zastrzeżone <a>Polityka prywatności</a></p>
    </footer>
    <script src="~/js/Nav.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
