<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/384f58f878.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="nav-menu">
            <a href="">
                <div>
                    Logo
                </div>
            </a>
            <a href=""><h3>20E5Cars</h3></a>
            @*CLOSE MOBILE MENU ICON (CROSS)*@
            <button class="mobile"><i class="fa-solid fa-xmark"></i></button>
            @*CLOSE MOBILE MENU ICON (CROSS)*@

            @*MENU MOBILE BAR ICON*@
            <button class="mobile"><i class="fa-solid fa-bars"></i></button>
            @*MENU MOBILE BAR ICON*@

            @*LOGIN/REGISTER ICON*@
            <a href="" class="mobile"><i class="fa-solid fa-user-group"></i></a>
            @*LOGIN/REGISTER ICON*@
            <ul>
                <li>
                    <a href="">Główna</a>
                </li>
                <li>
                    <a href="">Szukaj</a>
                </li>
                <li>
                    <a href="">Auta&nbsp;<i class="fa-solid fa-angle-down"></i></a>
                    <ul>
                        <li>Wybierz markę</li>
                        <li>Wybierz typ</li>
                        <li>Wszystkie</li>
                    </ul>
                </li>
                <li>
                    <a href="">Więcej&nbsp;<i class="fa-solid fa-angle-down"></i></a>
                    <ul>
                        <li>Nasz zespół</li>
                        <li>Nasza misja</li>
                    </ul>
                </li>
                <li><a href="">Kontakt</a></li>
            </ul>
            <div class="mobile">Belka</div>
            <p class="mobile">
                <i class="fa-solid fa-phone"></i>
                <span>+48</span>
                123456789
            </p>
            <p class="mobile">
                <i class="fa-solid fa-at"></i>
                Adres Email
            </p>
            <ul>
                <li>
                    <a href=""><i class="fa-solid fa-user"></i>&nbsp;Zaloguj się</a>
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-user-plus"></i>&nbsp;Zarejestruj się</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <a href="">
            <div>
                Logo
            </div>
        </a>
        <a href=""><h3>20E5Cars</h3></a>
        <ul>
            <li>
                <a href="">Główna</a>
            </li>
            <li>
                <a href="">Szukaj</a>
            </li>
            <li>
                <a href="">Auta&nbsp;<i class="fa-solid fa-angle-down"></i></a>
            </li>
            <li>
                <a href="">Więcej&nbsp;<i class="fa-solid fa-angle-down"></i></a>
            </li>
            <li>
                <a href="">Kontakt</a>
            </li>
            <li>
                <a href=""><i class="fa-solid fa-user"></i>&nbsp;Zaloguj się</a>
            </li>
            <li>
                <a href=""><i class="fa-solid fa-user-plus"></i>&nbsp;Zarejestruj się</a>
            </li>
        </ul>
        <p>
            TekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekst
            TekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekstTekst
        </p>
        <p>
            <i class="fa-solid fa-phone"></i>
            <span>+48</span>
            123456789
        </p>
        <p>
            <i class="fa-solid fa-at"></i>
            Adres Email
        </p>
        <p>Ulica</p>
        <p>Miasto</p>
        <div>Belka</div>
        <p>2035Cars - Wszelkie prawa zastrzeżone <a>Polityka prywatności</a></p>
    </footer>
    <script src="~/js/Nav.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
